@model SayCheezService.Models.Picture

@{
    ViewBag.Title = "Details";
    var imgSrc = String.Format("data:image/png;base64,{0}", Model.SerializedContent);
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <img src="@imgSrc"/>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
